.idea/.name
.idea/everest-base.iml
.idea/fileTemplates/
.idea/httpRequests/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.backup
.idea/workspace.xml
.idea/shelf/
.idea/
cmake-build-debug
*.pyc
input
output
build64
redist
tests/googletest
log
PLUGINNAME
/robot
/vagrant
/log.html
/products/distribution/include/AutoVersioningHeaders/AutoVersion.*
