pyzmq
protobuf
pytest-html
psutil
sseclient
asyncio
#https://github.com/aio-libs/aiohttp/issues/6719
aiohttp==3.8.1
aiohttp_sse
python-dateutil
websockets
robotframework
watchdog
proxy.py
artifactory
pubtap
robotframework
