/.idea/
/cmake-afl-fuzz/
/cmake-build-*
*.pyc
/input
/output
/build64
/redist
/tests/googletest
/log
PLUGINNAME
/thirdparty/libprotobuf-mutator/
/thirdparty/output/
/TA/output.xml
/TA/log.html
/TA/report.html
/tests/FuzzerTests/log.html
/tests/FuzzerTests/report.html
/tests/FuzzerTests/output.xml
/products/distribution/include/AutoVersioningHeaders/
/log.html
/robot
/vagrant
/local_test_input/
