message_relay_address1=anyrelayname.eng.sophos
message_relay_port1=8190
message_relay_priority1=0
message_relay_id1=0e1e598b-d6d6-eeee-9425-bbbbbbbbbbb
useSystemProxy=true
useAutomaticProxy=true
useDirect=true
COMMAND_CHECK_INTERVAL_MINIMUM=60
COMMAND_CHECK_INTERVAL_MAXIMUM=60
MCSToken=2dda9f6c9adf53ee9befc1f928988b98da2b64dd4e6bece3308cd61111111111
mcs_policy_url1=https://mcs2-cloudstation-eu-west-1.prod.hydra.sophos.com/sophos/management/ep