.idea/
cmake-build-clang-fuzzer/
cmake-build-debug/
cmake-build-gcc8/
*.pyc
input/
output/
build64/
products/distribution/include/AutoVersioningHeaders/
redist/
tests/googletest/
log/
PLUGINNAME
sspl-plugin-mav-build/
sspl-plugin-anti-virus/
susi_experiment/
tapvenv/
TA/log.html
TA/output.xml
TA/report.html
TA/resources/FilledIn.xml
TA/resources/TempSAVpolicy.xml
TA/resources/sophos_certs/local_certs/https/ca/
TA/resources/sophos_certs/local_certs/https/newcerts/
TA/resources/sophos_certs/local_certs/https/private/
TA/resources/sophos_certs/local_certs/https/index.*
TA/resources/sophos_certs/local_certs/https/InternalServerCA.cer
TA/resources/sophos_certs/local_certs/https/localhost*
TA/resources/sophos_certs/local_certs/https/root-ca.crt.*
TA/resources/sophos_certs/local_certs/https/root-ca.srl
TA/resources/sophos_certs/local_certs/https/serial*
TA/resources/sophos_certs/local_certs/https/server*
TA/resources/sophos_certs/local_certs/https/*.pem
TA/local_warehouses/
TA/output.zip
TA/tmp/
tmp/
