.idea/.name
.idea/vcs
.idea/vcs.xml
.idea/everest-base.iml
.idea/fileTemplates/
.idea/httpRequests/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.backup
.idea/workspace.xml
.idea/shelf/
.idea/markdown-exported-files.xml
.idea/codeStyles/Project.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/git_toolbox_prj.xml
build64/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
*.pyc
input/
output/
log/
redist/
tests/googletest/
*.orig
products/distribution/include/
thirdparty/libprotobuf-mutator/
testUtils/SupportFiles/https/*.pem
testUtils/SupportFiles/https/*.old
testUtils/SupportFiles/https/*.srl
testUtils/SupportFiles/https/index.txt*
testUtils/SupportFiles/https/serial
testUtils/SupportFiles/https/ca/
testUtils/SupportFiles/https/newcerts/
testUtils/SupportFiles/https/private/
testUtils/SupportFiles/CentralXml/RealWarehousePolicies/GeneratedAlcPolicies/
testUtils/tmp/
testUtils/SupportFiles/warehouseGeneration/lib/
testUtils/SupportFiles/warehouseGeneration/bin/
testUtils/SupportFiles/warehouseGeneration/Authentication/
testUtils/log.html
testUtils/output.xml
testUtils/report.html
testUtils/SystemProductTestOutput/
testUtils/robot
testUtils/tests/temp/
testUtils/SupportFiles/CloudAutomation/localhost.cert.pem
testUtils/SupportFiles/CloudAutomation/root-ca.crt.*
testUtils/SupportFiles/CloudAutomation/server-*.pem
testUtils/SupportFiles/CloudAutomation/utm.cert.pem
testUtils/*-VBoxSVC-*.log
