.idea/.name
.idea/everest-base.iml
.idea/fileTemplates/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.backup
.idea/workspace.xml
.idea/shelf/
build64
cmake-build-debug
*.pyc
input
output
log
redist
