.idea/.name
.idea/everest-base.iml
.idea/fileTemplates/
.idea/httpRequests/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.backup
.idea/workspace.xml
.idea/shelf/
.idea/markdown-exported-files.xml
.idea/codeStyles/Project.xml
build64
cmake-build-debug
*.pyc
input
output
log
redist
*.orig
